<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
   <header id="header">
        <input id="buscador" placeholder="Escriba aqui su busqueda" onkeyup="peticionBuscador()">
        <button id="business" onclick="peticionBusiness()">Business</button>
        <button id="entertainment" onclick="peticionEntertainment()">Entertainment</button>
        <button id="general" onclick="peticionGeneral()">General</button>
        <button id="health" onclick="peticionHealth()">Health</button>
        <button id="pagsig" onclick="cambiarPagina()">Página Siguiente</button>

   </header>

    <div id="app">
      <div id="grande" v-for="objeto in info">
        <div class="w3-container-noticia" id="w3-container">
          <h3>{{ objeto.title }}</h3>
          <img v-bind:src="objeto.urlToImage">
          <button v-on:click="mostrarDetalle($event, objeto)">Más información</button>
        </div>
      </div>
    


   <div id="modalDetalle" v-bind:class="{ 'w3-modal1': displayModal, 'oculto': !displayModal }">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span v-on:click="oculto"  class="w3-button w3-display-topright">&times;</span>
        <p class="Autor">{{Autor}}</p>
        <p class="contenido">{{Contenido}}</p>
        <p class="descripcion">{{Descripcion}}</p>
        <p class="publicado">{{Publicado}}</p>
        <a v-bind:href="Enlace" class="url" target="_blank">Ver noticia</a>
      </div>
    </div>
  </div>


<img  id="miimagen" src="img/cargando.gif" alt="cargando" v-if="!info">
</div>
</div>
</body>  <script src="index.js"></script>
</html>